/* titulo*/
.tittle {
  margin-top: 50px;
  font-size: 30px;
  color: #fff;
  margin-left: 5%;
}

/* Barra entre titulo y container de cards*/

.barra {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.search,
.select_game,
.select_price,
.select_type,
.select-filter {
  box-sizing: border-box;
  border: 1px #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 12px 20px 12px 40px;
  color: #ccc;
}

.container-body {
  background-color: #282c34;
  background-image: url('images/background.jpg');
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: cover;
}
.select_game {
  background-image: url('../../public/images/espada.png');
  background-color: #303141;
  width: 24%;
  margin-right: 2%;
}
.search {
  background-image: url('../../public/images/lupa1.png');
  background-color: #303141;
  width: 50%;
}
.select_price {
  background-image: url('../../public/images/bolsa-de-dinero.png');
  background-color: #303141;
  width: 12%;
}
.select_type {
  background-image: url('../../public/images/pluma.png');
  background-color: #303141;
  width: 12%;
}
/* Container para cards*/
.container {
  background-color: #303141;
  height: auto;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  border: 4px #ccc;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-bottom: 30px;
}

/* Select para filtrar*/

.list-filter {
  background: #303141;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  color: #fff;
  padding-top: 30px;
}

.select-filter {
  /* background-image: url('../../public/images/armadura1.jpg'); */
  background-color: #4c608526;
}

/* Card*/

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
  height: auto;
}

.card {
  width: auto;
  margin: auto;
  background: #4c608526;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 15px;
  margin-top: 20px;
}

.on {
  list-style: none;
  justify-content: space-between;
  background-color: #4c608526;
}
.onsale {
  margin-left: -50px !important;
  font-size: 10px;
}
.b {
  color: #00ff80;
  font-size: 20px;
}

.stock {
  font-size: 12px;
  width: 70px;
  height: 30px;
  border: 1px solid #00ff80;
  text-align: center;
  margin-left: 10px;
  font-weight: 500;
  color: #00ff80;
  margin-top: -25px;
}

.card img {
  width: 70px;
  height: 70px;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
}

.card h1 {
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.card input {
  box-sizing: border-box;
  border: 1px #ccc;
  border-radius: 2px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 15px;
  padding: 10px 10px 10px 10px;
  background-color: #4c608526;
}

.card p {
  margin-left: 10px;
  margin-right: 10px;
}

.list-price {
  list-style: none;
  background-color: #4c608526;
}

.price,
.price-touch {
  color: white;
  font-size: 18px;
  margin-left: 20px;
}
.price-touch {
  color: gray !important;
  text-decoration: line-through #ff0000 !important;
  font-size: 13px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #5380ac;
  text-align: center;
  justify-content: space-between;
  cursor: pointer;
  width: auto;
  font-size: 15px;
  margin-left: 10px;
}

.btn {
  background-color: #5380ac;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-cancel {
  opacity: 0.2;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.list-button {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-right: 5px;
}

.center {
  text-align: center;
  margin-top: 30px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 4px;
}

.pagination a.next {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 4px;
  border: 1px solid #ddd;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #5380ac;
  color: white;
  border: 1px solid #5380ac;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.input-a {
  background-color: #4c608533 !important;
  width: 50px;
  border: 5px white !important;
  color: #ddd;
  float: right;
  margin-top: 15px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
.text-description {
  vertical-align: inherit;
  color: #767171;
  font-size: 15px;
  margin-top: -15px;
}
